.title {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.4em;
  letter-spacing: 0.05em;
  color: var(--orange);
}
.item {
  width: 45%;
  padding: 0.5em;
  border: 0.1em solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.1em 0.2em 0 rgba(14, 30, 37, 0.12);
}
.description,
.stack,
.link {
  display: flex;
  align-items: center;
}
.description,
.stack {
  margin-bottom: 0.5em;
  font-size: 1em;
  color: var(--secondTextColor);
  transition: all 0.3s ease-in-out;
}
.img {
  width: 10em;
  border-radius: 0.3em;
}
.info {
  margin-left: 1em;
}
.name {
  color: var(--secondTextColor);
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.5em;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.icon {
  margin-right: 1em;
  width: 1.5em;
  fill: var(--secondTextColor);
}

.item:hover,
.item:focus {
  box-shadow: 0 1em 2em 0.5em rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5em);
}
.item:hover .name,
.item:focus .name {
  color: var(--orange);
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
@media screen and (max-width: 426px) {
  .title,
  .list {
    font-size: 2em;
  }
  .list {
    display: block;
  }
  .item {
    width: auto;
    margin: 1em 0;
  }
}
