.section {
  display: flex;
  gap: 3em;
}
.container {
  position: relative;
}
.container::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.1em;
  left: -1em;
  border-radius: 0.1em;
  height: 100%;
  background-color: var(--maintextcolor);
}
.title {
  font-weight: 700;
  font-size: 2em;
  line-height: 1.98;
  letter-spacing: 0.02em;
  color: var(--orange);
}
.details {
  margin: 0 0 2em 1em;
}
.date {
  font-weight: 400;
  font-size: 1em;
}
.subTitle,
.position {
  font-size: 1.5em;
  line-height: 1.98;
  letter-spacing: 0.02em;
  font-weight: 700;
}
.position {
  color: var(--black);
}
@media screen and (max-width: 426px) {
  .container {
    font-size: 2em;
  }
}
