.contacts {
  font-size: 1em;
}
.title {
  margin: 1em 0 0.5em 0;
  text-align: left;
  font-size: 2em;
  font-weight: 700;
  color: var(--white);
}
.icon {
  width: 1.36em;
  height: 1.36em;
  fill: var(--white);
  margin-right: 0.3em;
}
.contactBox {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 426px) {
  .container {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin: 0 1em;
  }
  .title {
    margin: 0 0 0.5em 0;
  }
}
